openapi: 3.0.2

info:
  title: Partenaires
  version: 1.0.0
  description: API de gestion des partenaires
  contact:
    name: Fanny Pascal
    email: fpascal@mgen.fr

tags:
  - name: Partenaire

servers:
  - url: 'https://partenaire.mock.mgen.fr'
    description: Mocks

paths:
  '/partenaire/{id}':
    $ref: paths/partenaire@{id}.yaml
  '/partenaire/{id}/coordonneesBancaires':
    $ref: paths/partenaire@{id}@coordonneesBancaires.yaml
  '/partenaire/{id}/contact':
    $ref: paths/partenaire@{id}@contact.yaml
  '/partenaire/{id}/adressePostale':
    $ref: paths/partenaire@{id}@adressePostale.yaml

components:

  schemas:
    Partenaire:
      $ref: ./components/schemas/Partenaire.yaml
    PersonneMorale:
      $ref: ./components/schemas/Partenaire@PersonneMorale.yaml
    PersonnePhysique:
      $ref: ./components/schemas/Partenaire@PersonnePhysique.yaml
    Employeur:
      $ref: ./components/schemas/Partenaire@PersonneMorale@Employeur.yaml
    Etablissement:
      $ref: ./components/schemas/Partenaire@PersonneMorale@Etablissement.yaml
    ProfessionnelDeSante:
      $ref: ./components/schemas/Partenaire@PersonnePhysique@ProfessionnelDeSante.yaml
    AdressePostale:
      $ref: ./components/schemas/AdressePostale.yaml
    Contact:
      $ref: ./components/schemas/Contact.yaml
    CoordonneesBancaires:
      $ref: ./components/schemas/CoordonneesBancaires.yaml

  securitySchemes:
    
    mgenConnect:
      type: oauth2
      flows:
        authorizationCode:
          scopes:
            lecteur: Lire les infos des partenaires
            editeur: Mise à jour des données partenaires
          tokenUrl: 'https://connect.mgen.fr/token'
          authorizationUrl: 'https://connect.mgen.fr/auth'
          refreshUrl: 'https://connect.mgen.fr/refresh'
      description: Connexion à l'API via MGEN Connect
    
    apigee:
      name: API Key
      type: apiKey
      in: header
      description: APIKey pour accéder à l'API

security:
  - apigee: []
